<ion-grid *ngIf="isLoading" class="borderBottom">
  <ion-row class="ion-padding-horizontal dashedBorderBottom">
    <ion-label>
      <h1><ion-skeleton-text animated style="width: 80vw; height: 2vh;"></ion-skeleton-text></h1>
      <p><ion-skeleton-text animated style="width: 80vw; height: 2vh;"></ion-skeleton-text></p>
      <h4><ion-skeleton-text animated style="width: 80vw; height: 2vh;"></ion-skeleton-text></h4>
    </ion-label>
  </ion-row>
  <ion-row class="ion-padding-horizontal">
    <ion-col size="6">
      <ion-label class="ion-text-center">
        <p><ion-skeleton-text animated style="width: 15vw;"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 15vw;"></ion-skeleton-text></p>
      </ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="ion-text-center">
        <p><ion-skeleton-text animated style="width: 15vw;"></ion-skeleton-text></p>
        <p><ion-skeleton-text animated style="width: 15vw;"></ion-skeleton-text></p>
      </ion-label>
    </ion-col>
  </ion-row>
</ion-grid>