ion-slides{
    height: 30vh;
    div{
        height: 30vh;
        width: 30vh;
        margin: auto;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        border-radius: 2px;
    }
}