h4{
    font-size: 1.2rem;
}
p{
    font-size: 0.7rem;
}
.quantity{
    width: 2rem;      
}
.price{
    width: 3.5rem;
}
ion-item{
    letter-spacing: 0.5px;
    ion-text{
        font-size: 0.8rem;
    }
    ion-label{
        font-size: 0.8rem;
    }
    ion-row{
        border: 1px solid var(--ion-color-medium);
        border-radius: 2px;
        padding: 0.3rem;
    }
}